/* You can add global styles to this file, and also import other style files */

* {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  background-image: url('https://wallpaperaccess.com/full/949221.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}